:root[theme="dark"] {
  --bg-url: url("../assets/gradient-dark.svg");
  --invert-logo-color: 0;
  --bg-color: rgb(20, 20, 20);
  --nav-color: rgb(30 30 30 / 63%);
  --primary-color: rgb(15, 90, 161);
  --secondary-color: rgb(58, 125, 188);
  --text-color: #fff;
  --text-color-2: rgb(15, 90, 161);
  --text-color-3: rgb(58, 125, 188);
  --text-color-4: #aba3a3;
  --overlay-color: rgba(28, 28, 29, 0.644);
}

:root[theme="light"] {
  --invert-logo-color: 1;
  --bg-url: url("../assets/slanted-gradient.svg");
  --bg-color: rgb(226, 222, 222);
  --nav-color: rgba(216, 210, 210, 0.63);
  --primary-color: rgb(15, 90, 161);
  --secondary-color: rgb(58, 125, 188);
  --text-color: #000000;
  --text-color-2: rgb(15, 90, 161);
  --text-color-3: rgb(58, 125, 188);
  --text-color-4: #232222;
  --overlay-color: rgba(255, 255, 255, 0.644);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  box-sizing: border-box;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

*::selection {
  background-color: var(--primary-color);
}

main {
  width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1210px) {
  main {
    width: 800px;
  }
}
@media screen and (max-width: 810px) {
  main {
    width: 600px;
  }
}
@media screen and (max-width: 610px) {
  main {
    width: 400px;
  }
}
@media screen and (max-width: 410px) {
  main {
    width: 350px;
  }
}
