:root {
    --bg-url: url("../assets/slanted-gradient-dark.svg");
    --invert-logo-color: 0;
    --bg-color: rgb(20, 20, 20);
    --nav-color: rgb(30 30 30 / 63%);
    --primary-color: rgb(15, 90, 161);
    --secondary-color: rgb(58, 125, 188);
    --text-color: #fff;
    --text-color-2: rgb(15, 90, 161);
    --text-color-3: rgb(58, 125, 188);
    --overlay-color: rgba(28, 28, 29, 0.644);
}

:root[theme="light"] {
    --invert-logo-color: 1;
    --bg-url: url("../assets/slanted-gradient.svg");
    --bg-color: rgb(226, 222, 222);
    --nav-color: rgba(216, 210, 210, 0.63);
    --primary-color: rgb(15, 90, 161);
    --secondary-color: rgb(58, 125, 188);
    --text-color: #000000;
    --text-color-2: rgb(15, 90, 161);
    --text-color-3: rgb(58, 125, 188);
    --overlay-color: rgba(255, 255, 255, 0.644);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    box-sizing: border-box;
}



/* Global */
html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

*::selection {
    background-color: var(--primary-color);
}

/* Section Interface Start*/
main .sec {
    position: relative;
    display: block;
    width: 80%;
    margin: 50px auto;
    height: 700px;
    border-radius: 50px;
}

main h2.sec-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

main .sec-layout {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 50px 0;
}


/* Section Interface End*/