main .tools.sec {
    height: max-content;
    width: 60%;
}

main .tools .sec-heading {
    padding: 50px 0;
}

main .tools img {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 50px;
}

main .tools img:hover {
    scale: 1.6;
}


main .tools .sec-layout {
    flex-wrap: wrap;
    box-shadow: 0 0 15px 1px black;
    border-radius: 30px;
}

@media screen and (max-width: 750px) {
    main .tools img {
        width: 60px;
        height: 60px;
        padding: 20px;
    }
}